#header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #333;
    margin: 0 auto;
    /*position: fixed;*/
    /*top:0px;*/
    /*left:0px;*/
    /*z-index: 9999;*/
}

#header .center {
    width: 1226px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .center ul li{
    display: flex;
    align-items: center;
    height: 12px;
    font-size: 14px;
    color: #b0b0b0;
    padding: 0 8px;
    width: 100px;
}

#header .center ul li:last-of-type{
    padding-left: 28px;
}

#header li li {
    display: none;
}

#header li:hover li {
    display: block;
}

body {
    background-color: #f2f4f6;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1600px;
}

#product #product-class-list {
    justify-content: center;
    width: 300px;
    float: left;
    background-color: #f6f9f9;
}

#product #product-class-list div{
    height: 30px;
}

#product #product-class-list ul li {
    width: 260px;
    /*background-color: #fafafa;*/
    display: block;
    float: top;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    height: 30px;
    border-radius: 3px;
}

#product #product-class-list #firstUl {
    width: 300px;
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    height: 1000px;
}

#product #product-class-list #secondUl li {
    width: 260px;
    margin-left: 0px;
    height: 30px;
}

#product #product-class-list .secondLi div{
    color: #888888;
}

#product #product-class-list .thirdLi div{
    color: #aaaaaa;
}

#product #product-list {
    width: 1000px;
    flex-shrink: 0;
    height: 2000px;
    background-color: #f6f9f9;
}

#product #product-list > h1 {
    height: 60px;
    line-height: 70px;
}

#product #product-list ul {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 10px;
}

#product #product-list ul li {
    width: 234px;
    height: 352px;
    background-color: #fafafa;
    border-top: 1px solid #ffa500;
    /*margin-top: 10px;*/
}

#product #product-list ul li a .name {
    font-size: 16px;
    font-weight: bold;
}

#product #product-list ul li a .comment p{
    font-size: 14px;
    color: #939da3;
}

#product #product-list ul li:nth-child(2) {
    border-color: #008000;
}

#product #product-list ul li:nth-child(3) {
    border-color: #00f;
}

#product #product-list ul li:nth-child(4) {
    border-color: #f00;
}

#product #product-list ul li:nth-child(5) {
    border-color: #008080;
}

#product #product-list ul li a {
    display: block;
    text-align: center;
}

#product #product-list ul li a img {
    width: 160px;
    height: 160px;
    opacity: 0.8;
    margin: 10px;
}

#product #product-list ul li a .discount {
    font-size: 12px;
    color: #b0b0b0;
    margin: 5px 0;
}

#product #product-list ul li a .item_price {
    font-size: 20px;
    color: #1baeae;
    margin-top: 15px;
}

#product #product-list ul li a:hover img {
    opacity: 1;
}

#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#content #banner {
    width: 1226px;
    flex-shrink: 0;
    height: 479px;
}

#content #banner .swiper-container {
    width: 1226px;
    height: 100%;
}

#content #banner .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
}

#content #content-product{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1226px;
    height: 760px;
    margin-top: 20px;
    background-color: #f6f9f9;
}

#content #content-product > h1 {
    text-align: center;
    width: 100%;
    height: 158px;
    line-height: 158px;
    float: top;
}

#content #content-product-class-list{
    justify-content: center;
    width: 300px;
    float: left;
    background-color: #f6f6f6;
    height: 400px;
    margin-top: 10px;
}

#content #content-product-class-list > h3 {
    text-align: center;
    height: 58px;
    line-height: 58px;
}


#content #content-product-class-list ul{
    float: top;
    margin-top: 10px;
}

#content #content-product-class-list ul li {
    width: 260px;
    background-color: #b9b9b9;
    display: block;
    float: top;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    height: 30px;
    margin-left: 20px;
    border-radius: 3px;
}

#content #content-product-class-list #content-firstUl {
    width: 300px;
    background-color: #f6f6f6;
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    height: 1000px;
}

#content #content-product-class-list #content-secondUl li {
    width: 260px;
    background-color: #c9c9c9;
    margin-left: 0px;
}

#content #content-product-class-list #content-thirdUl li {
    background-color: #e9e9e9;
}

#content #content-product-list {
    margin-left: 10px;
    width: 896px;
    flex-shrink: 0;
    height: 600px;
    float: right;
}

#content #content-product-list ul {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

#content #content-product-list ul li {
    width: 234px;
    height: 250px;
    background-color: #fafafa;
    border-top: 1px solid #ffa500;
    margin: 10px 10px 10px 10px;
}

#content #content-product-list ul li a .name {
    font-size: 16px;
    font-weight: bold;
}

#content #content-product-list ul li a .comment p{
    font-size: 14px;
    color: #939da3;
}

#content #content-product-list ul li:nth-child(2) {
    border-color: #008000;
}

#content #content-product-list ul li:nth-child(3) {
    border-color: #00f;
}

#content #content-product-list ul li:nth-child(4) {
    border-color: #f00;
}

#content #content-product-list ul li:nth-child(5) {
    border-color: #008080;
}

#content #content-product-list ul li a {
    display: block;
    text-align: center;
}

#content #content-product-list ul li a img {
    width: 160px;
    height: 160px;
    opacity: 0.8;
    margin: 10px;
}

#content #content-product-list ul li a .discount {
    font-size: 12px;
    color: #b0b0b0;
    margin: 5px 0;
}

#content #content-product-list ul li a .item_price {
    font-size: 20px;
    color: #1baeae;
    margin-top: 15px;
}

#content #content-product-list ul li a:hover img {
    opacity: 1;
}


#content #flash {
    width: 1226px;
    flex-shrink: 0;
    height: 538px;
    margin-top: 20px;
    background-color: #f6f9f9;
}

#content #flash > h1 {
    height: 158px;
    line-height: 158px;
    text-align:center;
}

#content #flash ul {
    display: flex;
    justify-content: space-between;
}

#content #flash ul li {
    width: 234px;
    height: 352px;
    background-color: #fafafa;
    border-top: 1px solid #ffa500;
}

#content #flash ul li:nth-child(2) {
    border-color: #008000;
}

#content #flash ul li:nth-child(3) {
    border-color: #00f;
}

#content #flash ul li:nth-child(4) {
    border-color: #f00;
}

#content #flash ul li:nth-child(5) {
    border-color: #008080;
}

#content #flash ul li a {
    display: block;
    font-size: 14px;
    text-align: center;
}

#content #flash ul li a img {
    width: 160px;
    height: 160px;
    opacity: 0.8;
    margin: 37px;
}

#content #flash ul li a .discount {
    font-size: 12px;
    color: #b0b0b0;
    margin: 15px 0;
}

#content #flash ul li a .item_price {
    color: #1baeae;
}

#content #flash ul li a:hover img {
    opacity: 1;
}

#content #flash .time {
    background-color: #f1eded;
}

#content #flash .time .name {
    margin-top: 53px;
    font-size: 21px;
    color: #ef3a3b;
}

#content #flash .time img {
    width: 34px;
    height: 53px;
}

#content #flash .time .text {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
}

#content #flash .time .flashTime {
    margin: 28px 33px 0;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    display: flex;
    justify-content: center;
}

#content #flash .time .flashTime .box {
    width: 46px;
    height: 46px;
    background-color: #605751;
}

#content #flash .time .flashTime .dosh {
    height: 46px;
    font-size: 28px;
    color: #605751;
}

#content #recommend {
    width: 1226px;
    position: relative;
    flex-shrink: 0;
    height: 830px;
    margin-top: 20px;
    background-color: #f6f9f9;
}

#content #recommend > h1 {
    height: 158px;
    line-height: 158px;
    text-align:center;
}

#content #recommend .more {
    position: absolute;
    top: 18px;
    right: 30px;
}

#content #recommend .more:hover {
    color: #1baeae;
}

#content #recommend ul {
    display: flex;
    height: 614px;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

#content #recommend ul li {
    width: 234px;
    height: 314px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 4px;
    margin-right: 6px;
}

#content #recommend ul li:nth-child(1) .hot-image,
#content #recommend ul li:nth-child(6) .hot-image {
    width: 100%;
    height: 100%;
    margin: 0;
}

#content #recommend ul li:hover {
    box-shadow: 0px 0px 30px #ccc;
}

#content #recommend ul li:hover .comment {
    transform: translateY(0);
}

#content #recommend ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#content #recommend ul li a .info {
    width: 104px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 10px;
}

#content #recommend ul li a .new {
    background-color: #83c44e;
}

#content #recommend ul li a .discount {
    background-color: #f00;
}

#content #recommend ul li a > p {
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

#content #recommend ul li a .item_price {
    color: #1baeae;
}

#content #recommend ul li a .counter {
    height: 15px;
    line-height: 15px;
    color: #aaa;
    font-size: 12px;
}

#content #recommend ul li a img {
    width: 160px;
    height: 160px;
    margin: 10px 0 20px;
}

#content #recommend ul li a .comment {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.4s;
    box-sizing: border-box;
    height: 70px;
    padding: 10px 0 0 30px;
    background-color: #1baeae;
    color: #fff;
    text-align: left;
}

#content #recommend ul li a .comment p {
    font-size: 12px;
    margin-top: 5px;
}


#content #mainProduct {
    width: 1226px;
    position: relative;
    flex-shrink: 0;
    height: 830px;
    margin-top: 20px;
    background-color: #f6f9f9;
}

#content #mainProduct > h1 {
    height: 158px;
    line-height: 158px;
    text-align:center;
}

#content #mainProduct .more {
    position: absolute;
    top: 18px;
    right: 30px;
}

#content #mainProduct .more:hover {
    color: #1baeae;
}

#content #mainProduct ul {
    display: flex;
    height: 614px;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

#content #mainProduct ul li {
    width: 234px;
    height: 314px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 4px;
    margin-right: 6px;
}

#content #mainProduct ul li:nth-child(1) .hot-image,
#content #mainProduct ul li:nth-child(6) .hot-image {
    width: 100%;
    height: 100%;
    margin: 0;
}

#content #mainProduct ul li:hover {
    box-shadow: 0px 0px 30px #ccc;
}

#content #mainProduct ul li:hover .comment {
    transform: translateY(0);
}

#content #mainProduct ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#content #mainProduct ul li a .info {
    width: 104px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 10px;
}

#content #mainProduct ul li a .new {
    background-color: #83c44e;
}

#content #mainProduct ul li a .discount {
    background-color: #f00;
}

#content #mainProduct ul li a > p {
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

#content #mainProduct ul li a .item_price {
    color: #1baeae;
}

#content #mainProduct ul li a .counter {
    height: 15px;
    line-height: 15px;
    color: #aaa;
    font-size: 12px;
}

#content #mainProduct ul li a img {
    width: 160px;
    height: 160px;
    margin: 10px 0 20px;
}

#content #mainProduct ul li a .comment {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.4s;
    box-sizing: border-box;
    height: 70px;
    padding: 10px 0 0 30px;
    background-color: #1baeae;
    color: #fff;
    text-align: left;
}

#content #mainProduct ul li a .comment p {
    font-size: 12px;
    margin-top: 5px;
}

#content #aboutUs {
    width: 1226px;
    position: relative;
    flex-shrink: 0;
    height: 730px;
    margin-top: 20px;
    background-color: #f6f9f9;
    /*background: url(../image/back1.png) no-repeat;*/
    background-size: 100%;
    background-position: center;
}

#content #aboutUs > h1 {
    height: 158px;
    line-height: 158px;
    text-align:center;
    float: top;
}
#aboutUs #aboutUsLogo {
    float: left;
    width: 550px;
    height: 240px;
}

#aboutUs #aboutUsLogo img{
    width: 480px;
    height: 240px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

#aboutUs #aboutUsText{
    width: 650px;
    float: right;
    font-size: 18px;
    margin-right: 20px;
}

#content #contactUs {
    width: 1226px;
    position: relative;
    flex-shrink: 0;
    height: 830px;
    margin-top: 20px;
    background-color: #f6f9f9;
    background-size: 100%;
    background-position: center;
}

#contactUs > h1 {
    height: 158px;
    line-height: 158px;
    text-align:center;
}

#contactUs #contactUsContent {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #c9dae1;
    margin-left: 20px;
    margin-right: 20px;
}

#contactUs #contactLogo {
    width: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 100px;
    border-width: 0 2px 0 0;
    border-style: groove;
    border-color: #c9dae1;
}

#contactUs #companyLogo {
    width: 400px;
    float: left;
    margin-left: 20px;
    margin-right: 200px;
}

#contactUs #wechatPic {
    width: 200px;
    float: left;
    margin-left: 20px;
}

#contactUs #linePic {
    width: 200px;
    float: left;
    margin-left: 20px;
}

#contactUs #contactText{
    width: 500px;
    float: right;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 80px;
    color: #1b1e21;
}

#contactUs #contactText a{
    color: #939da3;
}

#contactUs #contactText > h2{
    line-height: 80px;
}

#leaveMessageImg {
    position: fixed;
    float: right;
    top: 500px;
    right: 20px;
    width: 80px;
}

#light {
    display: none;
    position: fixed;
    float: right;
    right: 20px;
    width: 20%;
    height: 15%;
    padding: 20px;
    border: 5px solid #1baeae;
    border-radius: 10px;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

#light > table {
    margin-top: 20px;
}

#light .LeaveMessagePrompt {
    width: 30%;
}

#light .LeaveMessageText {
    width: 50%;
}

#light #submitLight{
    margin-top: 20px;
}